@model SOA_WEB_MVC.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="ruta_a_tu_archivo_css" />
</head>
<body>
    <div class="Login">
        <h2>Iniciar sesión</h2>
        <form method="post" asp-controller="Login" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="Correo">Correo</label>
                <input asp-for="Correo" class="form-control" required />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                <input asp-for="Contraseña" class="form-control" type="password" required />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>