<!DOCTYPE html>
<html>
<br />
<br />
<head>
    <link href="c:\users\santi\source\repos\soa_web\soa_web\views\home\stylesheet.css" rel="stylesheet" />
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="Login">
        <h2>Iniciar sesión</h2>
        <form>
            <input type="text" placeholder="Correo" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>